[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vlermanda/Escritorio/brave-pjibgclleladliembfgfagdaldikeohf-Default.desktop]
row=3
col=0

[Papelera]
row=0
col=0

[/]
row=1
col=0

[/home/vlermanda]
row=2
col=0

